{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Afla Portfolio </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets//img/favicon.png" rel="icon">
  <link href="static/assets//img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets//vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets//vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets//vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets//vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets//vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="static/assets//css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Updated: Jun 29 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="static/assets//img/img4.jpg" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="static/assets//img/logo.png" alt=""> -->
      <h1 class="sitename">Afla C</h1>
    </a>

    <div class="social-links text-center">
    
      <a href="http://www.linkedin.com/in/afla-c-98b25222a" class="linkedin"><i class="bi bi-linkedin"></i></a>
      <a href="https://github.com/Aflap" class="linkedin"><i class="bi bi-github"></i></a>
      
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        <li><a href="#experience"><i class="bi bi-images navicon"></i> Experience</a></li>
        <li><a href="#portfolio"><i class="bi bi-images navicon"></i> Project</a></li>
        <li><a href="#services"><i class="bi bi-hdd-stack navicon"></i> Certifications</a></li>
        
        
        <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="static/assets//img/img6.jpg" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2 style="display:inline-block; background :linear-gradient(to bottom,transparent 10%,black 10%)">Afla C</h2><br>
        <p style="display:inline-block; background :linear-gradient(to bottom,transparent 10%,black 10%)">I'm <span class="typed" data-typed-items="Full-Stack Developer, Python Developer">Developer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>I am Afla, a B.Tech graduate with hands-on experience in Python Full-Stack Development. I completed an internship where I honed my skills in building dynamic and responsive web applications using technologies like Python, Django, HTML, CSS, and JavaScript. I am passionate about coding and continuously improving my skill set to deliver high-quality software solutions.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="static/assets//img/img1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 content">
            <h2>Full-Stack Developer</h2>
            <p class="fst-italic py-3">
             
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>16 January 2000</span></li>
                  <li><i class="bi bi-chevron-right"></i><strong>linkedin</strong> <a href="http://www.linkedin.com/in/afla-c-98b25222a" class="linkedin"> <i class="bi bi-linkedin"></i></a></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>9995232246</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kannur,Kerala,India</span></li>
                </ul>
              </div>
              <div class="col-lg-6">

                <ul>
                  
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B.Tech</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>aflapvr@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p class="py-3">
                During my internship, I worked on various projects that involved both front-end and back-end development, database management, and API integration. I am adept at problem-solving, debugging, and optimizing code for performance and scalability. My experience has also equipped me with the ability to collaborate effectively within a team, manage project timelines, and adapt to new technologies quickly.

                I am passionate about technology and constantly seek opportunities to learn and apply new skills. My goal is to contribute to innovative projects that make a positive impact, while also growing as a professional in the field of software development.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    

      

    <!-- Skills Section -->
    <section id="skills" class="skills section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Skills</h2>
        
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>PYTHON</span> <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
                <span class="skill"><span>HTML</span> <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>CSS</span> <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->
            <div class="progress">
              <span class="skill"><span>JavaScript</span> <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>PHP</span> <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>DJANGO</span> <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Bootstrap</span> <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->
            <div class="progress">
                <span class="skill"><span>SQL</span> <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

          </div>

        </div>

      </div>

    </section><!-- /Skills Section -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
         <a href="static/assets/img/portfolio/Afla C- Full Stack Developer Resumee.pdf" class="btn btn-secondary" download>
        <button>Download My Resume</button>
      </a>
      </div><!-- End Section Title -->

      <div class="container">

       
        
       <center>  <img  src="static/assets/img/Afla.png" width="75%" height="1200px"></center>

      </div>
     
    </section><!-- /Resume Section -->
    <section id="experience" class="experience section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Experience</h2>
        <p>During my Internship as a Python Full-Stack Developer at Luminar Technolab, I gained hands-on experience in developing and maintaining web applications. I contributed to both the front-end and back-end aspects of several projects, utilizing technologies such as Python, Django, HTML, CSS, and JavaScript. I was responsible for designing and implementing responsive user interfaces, developing RESTful APIs, and managing database interactions with Django ORM. Additionally, I worked on optimizing application performance, debugging issues, and collaborating with cross-functional teams to ensure seamless integration of new features. This internship not only strengthened my technical skills but also enhanced my problem-solving abilities and taught me the importance of effective communication and teamwork in a fast-paced development environment.</p>
      </div>
    </section>
    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Project</h2>
        
      <!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
                    <h3><strong>Gym Fitness App</strong></h3>

               <p>Develop a fitness tracking application that allows users
                to log workouts, set goals, separate authentication
                system for trainers, adding attendance. Implement a
                visually appealing dashboard.<br>
                Technologies used: Python Django, HTML, CSS, JavaScript,
                SQL.</p><br>
                <a href="https://aflaa.pythonanywhere.com/" class="btn btn-secondary" >Click to view Project</a><br><br>

               

               
                <h3><strong> E-commerce Website</strong></h3>
               <p> Designed and implemented an E-commerce Website
enabling online product browsing, ordering, and payment
processing.<br>
Technologies used: Python Django, HTML, CSS,
JavaScript, SQL.</p><br>
<a href="https://github.com/Aflap/djangoprojects.git" class="btn btn-secondary" >Github Link</a><br><br>



                  
                <h3><strong> Image Grid Website</strong></h3>
                <p> An image grid website organizes images into a structured layout, often displayed in 
                    rows and columns or a masonry style. This design allows users to view multiple images at once, making 
                    it ideal for portfolios, galleries, and showcases. The grid format enhances visual appeal and user experience
                     by providing a clean, organized way to present visual content. Typically, the grid layout is achieved through HTML
                      for the structure and CSS for styling,
                     ensuring responsiveness and aesthetics across various devices.<br>
 Technologies used: Python Django, HTML, CSS,
 JavaScript, SQL.</p><br>
 <a href="https://github.com/Aflap/image-grid-website.git" class="btn btn-secondary">Github Link</a>

              </div>
            <!-- End Portfolio Item -->

       

    </section><!-- /Portfolio Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Certifications</h2>
       
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div><i class="bi bi-award icon"></i></div>
            <div>
              <h4 class="title"><a href="static/assets/img/portfolio/btech .pdf" class="stretched-link">Bachelor of Technology in Electronics
                 And Communication Engineering</a></h4>
                 <a class="btn btn-secondary" >Click to view Certificate</a><br><br>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div><i class="bi bi-award icon"></i></div>
            <div>
              <h4 class="title"><a href="static/assets/img/portfolio/lumi.pdf" class="stretched-link">Diploma in Full Stack Development</a></h4>
              <a class="btn btn-secondary" >Click to view Certificate</a><br><br>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div><i class="bi bi-award icon"></i></div>
            <div>
              <h4 class="title"><a href="static/assets/img/portfolio/artificial.pdf" class="stretched-link">Certification of Completion of Introduction
                to Artificial Intelligence provided by Great
                Learning Academy.</a></h4>
              <a class="btn btn-secondary" >Click to view Certificate</a><br><br>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <div> <i class="bi bi-award icon"></i></div>
            <div>
              <h4 class="title"><a href="static/assets/img/portfolio/artificial.pdf" class="stretched-link">Certification of Completion of to Artificial
                Intelligence by Python provided by Great
                Learning Academy</a></h4>
              <a class="btn btn-secondary" >Click to view Certificate</a><br><br>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <div> <i class="bi bi-award icon"></i></div>
            <div>
              <h4 class="title"><a href="static/assets/img/portfolio/common.pdf" class="stretched-link">Certification of partcipating in the Common Internship Test</a></h4>
              <a class="btn btn-secondary" >Click to view Certificate</a><br><br>
            </div>
          </div><!-- End Service Item -->
          

        </div>

      </div>

    </section><!-- /Services Section -->

   
    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
       
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

         

            <div class="info-wrap">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p>Kannur,Kerala,India</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  
                  <p>9995232246</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email</h3>
                  <p>aflapvr@gmail.com</p>
                </div>
              </div>
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-linkedin"></i>
                <div>
                  <h3>linkedin</h3>
                  <p>http://www.linkedin.com/in/afla-c-98b25222a</p>
                </div>
              </div><!-- End Info Item -->

             
          

          
        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer position-relative light-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">myPortfolio</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
       
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/assets//vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets//vendor/php-email-form/validate.js"></script>
  <script src="static/assets//vendor/aos/aos.js"></script>
  <script src="static/assets//vendor/typed.js/typed.umd.js"></script>
  <script src="static/assets//vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets//vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets//vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets//vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="static/assets//vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets//vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="static/assets//js/main.js"></script>

</body>

</html>